{%  from 'assets/icons/index.njk' import favorite_filled, favorite_shaped %}

{% macro like_button(active, count) %}
  {% set likeLabel = 'like-button__label' | uniqid %}
  {% set likeDesc = 'like-button__count' | uniqid %}

  <label class="like-button">
    <input
      class="like-button__input js-like-button__input"
      type="checkbox"
      aria-labelledby="{{ likeLabel }}"
      aria-describedby="{{ likeDesc }}"
      {% if active %}checked{% endif %}
    >
    <span class="like-button__mark">
      {{ favorite_filled(class='like-button__icon-filled', width=10, height=8, gradient=true) }}
      {{ favorite_shaped(class='like-button__icon-shaped', width=10, height=8) }}
      <span class="like-button__count js-like-button__count" id="{{ likeDesc }}">{{ count }}</span>
    </span>
    <span class="like-button__label" id="{{ likeLabel }}">Оценить</span>
  </label>
{% endmacro %}