{% macro counter(label) %}
  {% set id = 'counter__input' | uniqid  %}
  <div class="counter js-counter">
    <label class="counter__label" for="{{ id }}">{{ label }}</label>
    <button class="counter__control-btn js-counter__decrement-btn" type="button" tabindex="-1" aria-hidden="true">-</button>
    <input class="counter__input js-counter__input" value="0" min="0" type="number" id="{{ id }}">
    <button class="counter__control-btn js-counter__increment-btn" type="button" tabindex="-1" aria-hidden="true">+</button>
  </div>
{% endmacro %}