@font-face {
  font-family: 'montserrat-regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/montserrat/montserrat-regular.eot');
  src: local(''),
  url('~assets/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
  url('~assets/fonts/montserrat/montserrat-regular.woff') format('woff'),
  url('~assets/fonts/montserrat/montserrat-regular.ttf') format('truetype'),
  url('~assets/fonts/montserrat/montserrat-regular.svg') format('svg');
}

@font-face {
  font-family: 'montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/montserrat/montserrat-700.eot');
  src: local(''),
  url('~assets/fonts/montserrat/montserrat-700.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/montserrat/montserrat-700.woff2') format('woff2'),
  url('~assets/fonts/montserrat/montserrat-700.woff') format('woff'),
  url('~assets/fonts/montserrat/montserrat-700.ttf') format('truetype'),
  url('~assets/fonts/montserrat/montserrat-700.svg') format('svg');
}

