.text-field {
  display: grid;
  row-gap: 5px;
  width: 100%;
  max-width: 320px;
}

.text-field_invalid {
  --text-field-background-color: rgba(var(--invalid-rgb), .1);
}

/* label */

.text-field__label {
  font: 12px/15px var(--font-bold);
  text-transform: uppercase;
  color: var(--dark-color);
}

/* input */

.text-field__input {
  width: 100%;
  height: 44px;
  padding: 0 15px;
  font: 14px/18px var(--font-regular);
  color: rgba(var(--dark-rgb), .75);
  border: 1px solid rgba(var(--dark-rgb), var(--text-field-border-aplha, .25));
  border-radius: 4px;
  background-color: var(--text-field-background-color, white);

  &:hover, &:focus {
    --text-field-border-aplha: .5;
    --text-field-placeholder-aplha: .75;
  }

  &:focus {
    @apply --outline;
  }

  &::placeholder {
    color: rgba(var(--dark-rgb), var(--text-field-placeholder-aplha, .25));
  }

  &::selection {
    background-color: rgba(var(--dark-rgb), .1);
  }
}

.loaded .text-field__input {
  transition: border-color .1s ease-in-out, background-color .1s ease-in-out;

  &::placeholder {
    transition: color .1s ease-in-out;
  }
}