{% macro radio_group(disabled, group) %}
  {% set name = 'radio' | uniqid %}

  <div class="radio-group" role="radiogroup">
    {% for radio in group %}
      <label class="radio-group__input-wrap">
        <input
          class="radio-group__input js-radio-group__input"
          type="radio"
          name="{{ name }}"
          value="{{ radio.value }}"
          {% if radio.checked %}checked{% endif %}
          {% if disabled %}disabled{% endif %}
        >
        <span class="radio-group__mark">
          <span class="radio-group__inner-circle"></span>
        </span>
        <span class="radio-group__label">{{ radio.label }}</span>
      </label>
    {% endfor %}
  </div>
{% endmacro %}