{% from 'shared/icons/index.njk' import check_mark %}

{% macro checkbox(label, description, checked) %}
  <label class="checkbox {% if description %}checkbox_with_description{% endif %}">
    <input class="checkbox__input js-checkbox__input" type="checkbox" {% if checked %}checked{% endif %}>
    <span class="checkbox__mark">{{ check_mark(width=10, height=8, gradient=true) }}</span>
    <span class="checkbox__label">{{ label }}</span>
    {% if description %}<span class="checkbox__description">{{ description }}</span>{% endif %}
  </label>
{% endmacro %}
