.checkbox-group {
  display: grid;
  row-gap: 16px;
}

/* label */

.checkbox-group__label {
  font: 12px/15px var(--font-bold);
  color: var(--dark-color);
  text-transform: uppercase;
}

.checkbox-group__label_hidden {
  @apply --visually-hidden;
}

/* list */

.checkbox-group__list {
  display: grid;
  row-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}