{% from 'assets/icons/index.njk' import arrow_forward %}

{% macro subscribe_field(label) %}
  {% set inputId = 'subscribe-field__input' | uniqid %}

  <div class="subscribe-field js-subscribe-field" role="form">
    {% if label %}<label class="subscribe-field__label" for="{{ inputId }}">{{ label }}</label>{% endif %}

    <div class="subscribe-field__input-wrap">
      <input
        id="{{ inputId }}"
        class="subscribe-field__input js-subscribe-field__input"
        type="email"
        placeholder="Email"
      >

      <button class="subscribe-field__submit-btn js-subscribe-field__submit-btn" type="submit">
        <span class="subscribe-field__submit-btn-label">Отправить</span>
        {{ arrow_forward(class='subscribe-field__arrow-forward-icon', gradient=true, width=18, height=18) }}
      </button>
    </div>
  </div>
{% endmacro %}