.bullet-list {
  display: grid;
  row-gap: 16px;
}

/* label */

.bullet-list__label {
  font: 12px/15px var(--font-bold);
  color: var(--dark-color);
  text-transform: uppercase;
}

.bullet-list__label_hidden {
  @apply --visually-hidden;
}

/* items */

.bullet-list__items {
  display: grid;
  row-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* item */

.bullet-list__item {
  display: flex;
  align-items: baseline;
  column-gap: 10px;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(var(--dark-rgb), .25);
  }
}

/* text */

.bullet-list__text {
  flex: 1;
  font: 14px/24px var(--font-regular);
  white-space: pre-wrap;
  color: rgba(var(--dark-rgb), .75);
}