{% from 'assets/icons/index.njk' import star_filled, star_shaped %}

{% macro rate_bar(name, rate=1, interactive) %}
  {% set stars = [
    { value: 1, active: rate===1, label: 'Одна звезда' },
    { value: 2, active: rate===2, label: 'Две звезды' },
    { value: 3, active: rate===3, label: 'Три звезды' },
    { value: 4, active: rate===4, label: 'Четыре звезды' },
    { value: 5, active: rate===5, label: 'Пять звёзд' }
  ] %}

  {% set rateBarLabel = 'rate-bar__input' | uniqid %}

  <span class="rate-bar {% if interactive %}rate-bar_interactive{% endif %}" {% if interactive %}role="radiogroup"{% endif %}>
    {% if not interactive %}<span class="rate-bar__title">Рейтинг: {{ stars[rate - 1].label }} из пяти</span>{% endif %}
    {% for item in stars %}
      {% if interactive %}
        <input
          class="rate-bar__input js-rate-bar__input"
          type="radio"
          id="{{ rateBarLabel }}-{{ item.value }}"
          name="{{ name }}"
          value="{{ item.value }}"
          {% if rate===item.value %}checked{% endif %}
          {% if disabled %}disabled{% endif %}
          {% if disabled %}aria-hidden="true"{% endif %}
        >
        <label class="rate-bar__mark" for="{{ rateBarLabel }}-{{ item.value }}">
          <span class="rate-bar__label">{{ item.label }}</span>
          {{ star_filled(class='rate-bar__icon-filled', width=20, height=18, gradient=true) }}
          {{ star_shaped(class='rate-bar__icon-shaped', width=20, height=18, gradient=true) }}
        </label>
      {% else %}
        <span class="rate-bar__mark">
          <span class="rate-bar__label">{{ item.label }}</span>
          {% if item.value <= rate %}
            {{ star_filled(class='rate-bar__icon-filled', width=20, height=18, gradient=true) }}
          {% else %}
            {{ star_shaped(class='rate-bar__icon-shaped', width=20, height=18, gradient=true) }}
          {% endif %}
        </span>
      {% endif %}
    {% endfor %}
  </span>
{% endmacro %}