.rate-bar {
  display: grid;
  row-gap: 16px;
}

.rate-bar_interactive {
  --rate-bar-icon-filled-opacity: 1;
  --rate-bar-icon-shaped-opacity: 0;
  --rate-bar-cursor: pointer;
}

/* items */

.rate-bar__items {
  display: flex;
  width: max-content;
}

/* label */

.rate-bar__label {
  font: 12px/15px var(--font-bold);
  color: var(--dark-color);
  text-transform: uppercase;
}

/* title, label, item label */

.rate-bar__title, .rate-bar__item-label, .rate-bar__label_hidden {
  @apply --visually-hidden;
}

/* input */

.rate-bar__input {
  @apply --visually-hidden;

  &:focus-visible + * {
    @apply --outline;
  }

  &:not(:disabled):hover ~ * {
    --rate-bar-icon-filled-opacity: 0;
    --rate-bar-icon-shaped-opacity: 1;
  }

  &:not(:disabled):hover + * {
    --rate-bar-icon-filled-opacity: 1;
    --rate-bar-icon-shaped-opacity: 0;
  }
}

.rate-bar:not(:hover) .rate-bar__input {
  &:checked ~ * {
    --rate-bar-icon-filled-opacity: 0;
    --rate-bar-icon-shaped-opacity: 1;
  }

  &:checked + * {
    --rate-bar-icon-filled-opacity: 1;
    --rate-bar-icon-shaped-opacity: 0;
  }
}

/* mark */

.rate-bar__mark {
  position: relative;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  cursor: var(--rate-bar-cursor, auto);
}

/* icon filled */

.rate-bar__icon-filled {
  position: absolute;
  opacity: var(--rate-bar-icon-filled-opacity, 1);
}

.loaded .rate-bar__icon-filled {
  transition: opacity .1s ease-in-out;
}

/* icon shaped */

.rate-bar__icon-shaped {
  position: absolute;
  opacity: var(--rate-bar-icon-shaped-opacity, 1);
}

.loaded .rate-bar__icon-shaped {
  transition: opacity .1s ease-in-out;
}