{% from 'atoms/like-button/index.njk' import like_button %}

{% macro review(props) %}
  {% set id = props.id %}
  {% set firstname = props.firstname %}
  {% set surname = props.surname %}
  {% set time_utc = props.time_utc %}
  {% set text = props.text %}
  {% set likes = props.likes %}
  {% set liked = props.liked %}
  {% set avatar_url = props.avatar_url %}

  <article class="review" aria-label="Отзыв пользователя: {{ firstname }} {{ surname }}">
    <img class="review__avatar" src="{{ avatar_url }}" alt="{{ firstname }} {{ surname }}" width="48" height="48">
    <div class="review__header">
      <span class="review__name">{{ firstname }} {{ surname }}</span>
      <time class="review__time js-review__time" datetime="{{ time_utc }}">time</time>
    </div>
    <div class="review__like-btn js-review__like-btn">
      {{ like_button({active: liked, count: likes, name: 'like-' + id}) }}
    </div>
    <p class="review__text">{{ text }}</p>
  </article>
{% endmacro %}