.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-width, 100%);
  max-width: 320px;
  height: var(--button-height, 100%);
  max-height: 44px;
  padding: 0;
  text-decoration: none;
  border: none;
  border-radius: 22px;
  background: var(--button-background, var(--primary-gradient));
  cursor: var(--button-cursor, pointer);

  &:focus-visible {
    @apply --outline;
  }

  &:hover, &:focus-visible {
    opacity: .75;
  }

  &:active, &:disabled {
    opacity: .5;
  }

  &:disabled {
    --button-cursor: default;
  }
}

.loaded .button {
  transition: opacity .1s ease-in-out;
}

.button_appearance_secondary {
  --button-text-color: var(--primary-color);
  --button-overlay-background-color: white;
}

.button_appearance_link {
  --button-width: max-content;
  --button-height: auto;
  --button-background: none;
  --button-text-color: var(--primary-color);

  &:hover, &:focus-visible, &:active, &:disabled {
    --button-text-color: var(--dark-color);
  }
}

.button_appearance_icon {
  --button-width: max-content;
  --button-height: auto;
  --button-background: none;
  --button-text-color: var(--primary-color);
  --button-icon-position: auto;

  &:hover, &:focus-visible, &:active, &:disabled {
    --button-text-color: var(--dark-color);
  }
}

/* overlay  */

.button__overlay {
  position: absolute;
  z-index: 0;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 22px;
  background-color: var(--button-overlay-background-color, transparent);
}

/* label */

.button__label {
  position: relative;
  z-index: 0;
  font: 12px/15px var(--font-bold);
  text-transform: uppercase;
  color: var(--button-text-color, white);
}

.button__label_hidden {
  @apply --visually-hidden;
}

.loaded .button__label {
  transition: color .1s ease-in-out;
}

/* icon */

.button__icon {
  position: var(--button-icon-position, absolute);
  right: 13px;
  color: var(--button-text-color, white);
}

.loaded .button__icon {
  transition: color .1s ease-in-out;
}