{% from 'assets/icons/index.njk' import arrow_expand %}

{% macro counters_dropdown(props) %}
  {% set list_wrap_id = 'counters-dropdown__list-wrap' | uniqid %}

  {% set placeholder = props.placeholder %}
  {% set disabled = props.disabled %}
  {% set label = props.label %}
  {% set expanded = props.expanded %}

  <div class="counters-dropdown js-counters-dropdown {% if expanded %}counters-dropdown_expanded{% endif %}">
    <label class="counters-dropdown__field">
      {% if label %}<span class="counters-dropdown__label">{{ label }}</span>{% endif %}

      <span class="counters-dropdown__button-wrap">
        <input
          class="counters-dropdown__button js-counters-dropdown__button"
          type="button"
          aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
          aria-controls="{{ list_wrap_id }}"
          {% if placeholder %}
            value="{{ placeholder }}"
            data-placeholder="{{ placeholder }}"
          {% endif %}
          {% if disabled %}disabled{% endif %}
        >
       {{ arrow_expand({class: 'counters-dropdown__icon', width: 12, height: 8}) }}
      </span>
    </label>

    <div class="counters-dropdown__list-viewport">
      <div class="counters-dropdown__list-wrap js-counters-dropdown__list-wrap" id="{{ list_wrap_id }}"></div>
    </div>
  </div>
{% endmacro %}