{% from 'assets/icons/index.njk' import arrow_expand %}

{% macro counters_dropdown(placeholder=" ", disabled, label, expanded) %}
  {% set listWrapId = 'counters-dropdown__list-wrap' | uniqid %}

  <div class="counters-dropdown js-counters-dropdown {% if expanded %}counters-dropdown_expanded{% endif %}">
    <label class="counters-dropdown__field">
      {% if label %}<span class="counters-dropdown__label">{{ label }}</span>{% endif %}

      <span class="counters-dropdown__input-wrap">
        <input
          class="counters-dropdown__input js-counters-dropdown__input"
          type="button"
          aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
          aria-controls="{{ listWrapId }}"
          {% if value %}value="{{ placeholder }}"{% endif %}
          {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
          {% if disabled %}disabled{% endif %}
        >
       {{ arrow_expand(class='counters-dropdown__icon', width=12, height=8) }}
      </span>
    </label>

    <div class="counters-dropdown__list-viewport">
      <div
        class="counters-dropdown__list-wrap js-counters-dropdown__list-wrap"
        id="{{ listWrapId }}"
        role="region"
      >
      </div>
    </div>
  </div>
{% endmacro %}