.expandable-checkboxes {
  display: grid;
  max-height: var(--expandable-checkboxes-max-height, 44px);
  max-width: 320px;
}

.loaded .expandable-checkboxes {
  transition: max-height .1s ease-in-out;
}

.expandable-checkboxes_expanded {
  --expandable-checkboxes-max-height: 1000px;
  --expandable-checkboxes-icon-rotate: 180deg;
  --expandable-checkboxes-group-visibility: visible;
  --expandable-checkboxes-group-opacity: 1;
  --expandable-checkboxes-group-visibility-transition: .1s;
  --expandable-checkboxes-group-pointer-events: auto;
}

/* button */

.expandable-checkboxes__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 16px 0 0;
  border: none;
  background: none;
  cursor: pointer;

  &:hover, &:focus {
    --expandable-checkboxes-icon-aplha: .75;
  }

  &:focus-visible {
    @apply --outline;
  }
}

/* label */

.expandable-checkboxes__label {
  text-transform: uppercase;
  font: 12px/15px var(--font-bold);
  color: var(--dark-color);
}

/* icon */

.expandable-checkboxes__icon {
  color: rgba(var(--dark-rgb), var(--expandable-checkboxes-icon-aplha, .5));
  transform: rotate(var(--expandable-checkboxes-icon-rotate, 0));
}

.loaded .expandable-checkboxes__icon {
  transition: color .1s ease-in-out, transform .1s ease-in-out;
}

/* group */

.expandable-checkboxes__group {
  padding: 2.44px 0 0;
  pointer-events: var(--expandable-checkboxes-group-pointer-events, none);
  opacity: var(--expandable-checkboxes-group-opacity, 0);
}

.expandable-checkboxes__group * {
  visibility: var(--expandable-checkboxes-group-visibility, hidden);
}

.loaded .expandable-checkboxes__group * {
  transition: visibility var(--expandable-checkboxes-group-visibility-transition, 0s);
}

.loaded .expandable-checkboxes__group {
  transition: opacity .1s ease-in-out;
}