{% extends 'globals/template.njk' %}

{% set page_title = 'Ui Kit' %}
{% set page_description = 'Form elements' %}

{% from 'assets/icons/index.njk' import arrow_forward %}
{% from 'atoms/text-field/index.njk' import text_field %}
{% from 'atoms/button/index.njk' import button %}
{% from 'atoms/radio-group/index.njk' import radio_group %}
{% from 'atoms/like-button/index.njk' import like_button %}
{% from 'atoms/rate-bar/index.njk' import rate_bar %}
{% from 'atoms/bullet-list/index.njk' import bullet_list %}
{% from 'atoms/checkbox/index.njk' import checkbox %}
{% from 'atoms/range-slider/index.njk' import range_slider %}
{% from 'molecules/checkbox-group/index.njk' import checkbox_group %}
{% from 'molecules/pagination/index.njk' import pagination %}
{% from 'molecules/subscribe-field/index.njk' import subscribe_field %}
{% from 'molecules/counters-dropdown/index.njk' import counters_dropdown %}
{% from 'molecules/expandable-checkboxes/index.njk' import expandable_checkboxes %}
{% from 'molecules/date-dropdown/index.njk' import date_dropdown, date_dropdown_twin %}
{% from 'molecules/review/index.njk' import review %}
{% from 'organisms/search-room/index.njk' import search_room %}
{% from 'organisms/registration/index.njk' import registration %}

{% block content %}
  <div class="form-elements js-form-elements">
    <div class="form-elements__logo">
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z"
          fill="#1F2041" fill-opacity="0.25"/>
        <path
          d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z"
          fill="#1F2041" fill-opacity="0.25"/>
        <path
          d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z"
          fill="#1F2041" fill-opacity="0.25"/>
      </svg>
    </div>

    <div class="form-elements__column">
      <div class="form-elements__field js-form-elements__field">
        <span class="form-elements__field-desc">default</span>
        {{ text_field(name='email', label='text-field', type='email', placeholder='Email') }}
      </div>

      <div class="form-elements__field js-form-elements__field">
        <span class="form-elements__field-desc">hover/focus</span>
        {{ text_field(name='text-field', label='text-field', value='This is pretty aswesome', autofocus=true) }}
      </div>

      <div class="form-elements__dropdown js-form-elements__dropdown_theme_guests">
        {{ counters_dropdown(placeholder='Сколько гостей', label='dropdown') }}
      </div>

      <div class="form-elements__dropdown js-form-elements__dropdown_theme_apartment">
        {{ counters_dropdown(placeholder='Конфигурация номера', label='dropdown') }}
      </div>

      <div class="form-elements__button form-elements__button_size_small js-form-elements__button">
        {{ button(label='Click me', appearance='primary') }}
      </div>

      <div class="form-elements__button form-elements__button_size_small js-form-elements__button">
        {{ button(label='Click me', appearance='secondary') }}
      </div>

      <div class="form-elements__button form-elements__button_size_content js-form-elements__button">
        {{ button(label='Click me', appearance='link', href='/') }}
      </div>

      <div class="form-elements__button form-elements__button_size_big js-form-elements__button">
        {{ button(label='Перейти к оплате', appearance='primary', icon=arrow_forward) }}
      </div>

      <div class="form-elements__button form-elements__button_size_big js-form-elements__button">
        {{ button(label='Перейти к оплате', appearance='secondary', icon=arrow_forward) }}
      </div>

      <div class="form-elements__subscribe-field js-form-elements__subscribe-field">
        {{ subscribe_field(label='Subscribtion text-field') }}
      </div>

      <div class="form-elements__checkbox-group js-form-elements__checkbox-group">
        {{ checkbox_group(label='checkbox buttons', group=[
          {name: 'smoking', label: 'Можно курить'},
          {name: 'pets', label: 'Можно с питомцами'},
          {name: 'guests', label: 'Можно пригласить гостей\n(до 10 человек)'}
        ]) }}
      </div>


      <div class="form-elements__checkbox-group js-form-elements__checkbox-group">
        {{ checkbox_group(label='rich checkbox buttons', group=[
          {name: 'wide-corridor', label: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
          {name: 'disabled-assistance', label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
        ]) }}
      </div>

      <div class="form-elements__radio-group js-form-elements__radio-group">
        {{ radio_group(name='gender', label='radio buttons', group=[
          {value: 'male', label: 'Мужчина', checked: true},
          {value: 'female', label: 'Женщина'}
        ]) }}
      </div>

      <div class="form-elements__toggle js-form-elements__checkbox">
        {{ checkbox(name='special-offers', appearance='toggle', label='Получать спецпредложения') }}
      </div>

      <div class="form-elements__toggle js-form-elements__checkbox">
        {{ checkbox(name='special-offers', appearance='toggle', checked=true, label='Получать спецпредложения') }}
      </div>

      <div class="form-elements__like-button js-form-elements__like-button">
        {{ like_button(name='like-button', count=0) }}
      </div>

      <div class="form-elements__like-button js-form-elements__like-button">
        {{ like_button(name='like-button', count=13, active=true) }}
      </div>

      <div class="form-elements__rate-bar js-form-elements__rate-bar">
        {{ rate_bar(label='rate button', name='rating', rate=4, interactive=true) }}
      </div>

      <section class="form-elements__rate-bar">
        {{ rate_bar(rate=5) }}
      </section>

      <div class="form-elements__bullet-list">
        {{ bullet_list(label='bullet list', list=[
          'Нельзя с питомцами',
          'Без вечеринок и мероприятий',
          'Время прибытия — после 13:00,\nа выезд до 12:00'
        ]) }}
      </div>

      {% set expandable_checkboxes_group = [
        {name: 'breakfast', label: 'Завтрак'},
        {name: 'desk', label: 'Письменный стол', checked: true},
        {name: 'feeding_chair', label: 'Стул для кормления', checked: true},
        {name: 'crib', label: 'Кроватка', checked: true},
        {name: 'tv', label: 'Телевизор'},
        {name: 'shampoo', label: 'Шампунь'}
      ] %}

      <div class="form-elements__single-date-dropdown js-form-elements__single-date-dropdown">
        {{ date_dropdown(label='filter date dropdown') }}
      </div>

      <div class="form-elements__twin-date-dropdown js-form-elements__twin-date-dropdown">
        {{ date_dropdown_twin(labelFrom='date dropdown', labelTo='date dropdown') }}
      </div>

      <div class="form-elements__expandable-checkboxes js-form-elements__expandable-checkboxes">
        {{ expandable_checkboxes(label='Expandable checkbox list', group=expandable_checkboxes_group) }}
      </div>

      <div class="form-elements__expandable-checkboxes js-form-elements__expandable-checkboxes">
        {{ expandable_checkboxes(label='Expandable checkbox list', expanded=true, group=expandable_checkboxes_group) }}
      </div>

      <div class="form-elements__pagination js-form-elements__pagination">
        {{ pagination(total=120) }}
      </div>

      <div class="form-elements__range-slider js-form-elements__range-slider">
        {{ range_slider(label='range slider') }}
      </div>
    </div>
    
    <div class="form-elements__review js-form-elements__review">
      {% set reviews = 'mocks/reviews/index.json' | from %}

      {{ review(
        id=reviews[0].id,
        firstname=reviews[0].firstname,
        surname=reviews[0].surname,
        time_utc=reviews[0].time_utc,
        text=reviews[0].text,
        likes=reviews[0].likes,
        liked=reviews[0].liked,
        avatar_url=reviews[0].avatar_url | from
      ) }}
    </div>

    <div class="form-elements__search-room js-form-elements__search-room">
      {{ search_room() }}
    </div>

    <div class="form-elements__registration js-form-elements__registration">
      {{ registration() }}
    </div>
  </div>
{% endblock %}