.form-elements {
  position: relative;
  display: grid;
  row-gap: 40px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 141px;
}

@media screen and (width < 1380px){
  .form-elements {
    padding: 20px;
  }
}

.form-elements__logo {
  position: absolute;
  top: 30px;
  left: 0;
}

.form-elements__column {
  display: grid;
  row-gap: 20px;
  width: 100%;
  max-width: 320px;
}

.form-elements__field {
  position: relative;
}

.form-elements__field-desc {
  position: absolute;
  top: 0;
  right: 0;
  font: 12px/15px var(--font-regular);
  text-transform: uppercase;
  color: rgba(var(--dark-rgb), .5);
}