{% from 'assets/icons/index.njk' import check_mark %}

{% macro checkbox(name, appearance='checkbox', label, description, checked, disabled) %}
  {% set checkboxLabelId = 'checkbox__label' | uniqid %}
  {% set checkboxDescId = 'checkbox__description' | uniqid %}

  <label class="checkbox checkbox_appearance_{{ appearance }} {% if description %}checkbox_with_description{% endif %}">
    <input
      class="checkbox__input js-checkbox__input"
      name="{{ name }}"
      type="checkbox"
      aria-labelledby="{{ checkboxLabelId }}"
      {% if description %}aria-describedby="{{ checkboxDescId }}" {% endif %}
      {% if checked %}checked{% endif %}
      {% if disabled %}disabled{% endif %}
    >
    <span class="checkbox__mark">
      {% if appearance==='checkbox' %}
      {{ check_mark(class='checkbox__check-icon', width=10, height=8, gradient=true) }}
      {% elseif appearance==='toggle' %}
      <span class="checkbox__inner-circle"></span>
      {% endif %}
    </span>
    <span class="checkbox__label" id="{{ checkboxLabelId }}">{{ label }}</span>
    {% if description %}<span class="checkbox__description" id="{{ checkboxDescId }}">{{ description }}</span>{% endif %}
  </label>
{% endmacro %}
