.checkbox {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px 10px;
}

.checkbox_with_description {
  --checkbox-label-font-family: var(--font-bold);
  --checkbox-label-alpha: .75;
  --checkbox-grid-rows: 2;
}

.checkbox_appearance_toggle {
  --checkbox-mark-inner-circle-translate-x: -10px;
  --checkbox-mark-inner-circle-background: rgba(var(--dark-rgb), .25);
  --checkbox-mark-width: 40px;
  --checkbox-mark-border-radius: 10px;
  --checkbox-label-alpha: .75;
}

/* input */

.checkbox__input {
  @apply --visually-hidden;

  &:focus-visible + * {
    @apply --outline;
  }

  &:hover + *, &:focus-visible + * {
    --checkbox-mark-border-color: var(--primary-color);
  }

  &:checked + * {
    --checkbox-mark-inner-circle-translate-x: 10px;
    --checkbox-mark-inner-circle-background: var(--primary-gradient);
    --checkbox-mark-icon-opacity: 1;
    --checkbox-mark-border-color: var(--primary-color);
  }
}

/* mark */

.checkbox__mark {
  grid-row: span var(--checkbox-grid-rows, 1);
  display: grid;
  place-items: center;
  width: var(--checkbox-mark-width, 20px);
  height: 20px;
  border: 1px solid var(--checkbox-mark-border-color, rgba(var(--dark-rgb), .25));
  border-radius: var(--checkbox-mark-border-radius, 4px);
  cursor: pointer;
}

.loaded .checkbox__mark {
  transition: border-color .1s ease-in-out;
}

/* check icon */

.checkbox__check-icon {
  opacity: var(--checkbox-mark-icon-opacity, 0);
}

.loaded .checkbox__check-icon {
  transition: opacity .1s ease-in-out;
}

/* inner circle */

.checkbox__inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--checkbox-mark-inner-circle-background);
  transform: translateX(var(--checkbox-mark-inner-circle-translate-x));
}

.loaded .checkbox__inner-circle {
  transition: transform .1s ease-in-out;
}

/* label */

.checkbox__label {
  align-self: center;
  font: 14px/18px var(--checkbox-label-font-family, var(--font-regular));
  color: rgba(var(--dark-rgb), var(--checkbox-label-alpha, .5));

  &::selection {
    background-color: rgba(var(--dark-rgb), .1);
  }
}

/* description */

.checkbox__description {
  font: 12px/14px var(--font-regular);
  color: rgba(var(--dark-rgb), .5);

  &::selection {
    background-color: rgba(var(--dark-rgb), .1);
  }
}
