.checkbox {
  --checkbox-mark-border-color: rgba(var(--dark-rgb), .25);
  --checkbox-label-font: 14px/18px var(--font-regular);
  --checkbox-grid-rows: 1;

  display: grid;
  grid-template-rows: var(--checkbox-grid-rows);
  grid-template-columns: max-content 1fr;
  gap: 5px 10px;

  &:hover {
    --checkbox-mark-border-color: var(--primary-color);
  }
}

.checkbox_appearance_default {
  --checkbox-mark-icon-opacity: 0;
  --checkbox-mark-width: 20px;
  --checkbox-mark-border-radius: 4px;
  --checkbox-label-alpha: .5;
}


.checkbox_with_description {
  --checkbox-label-font: 14px/18px var(--font-bold);
  --checkbox-label-alpha: .75;
  --checkbox-grid-rows: 2;
}

.checkbox_appearance_toggle {
  --checkbox-mark-inner-circle-translate-x: -10px;
  --checkbox-mark-inner-circle-background: rgba(var(--dark-rgb), .25);
  --checkbox-mark-width: 40px;
  --checkbox-mark-border-radius: 10px;
  --checkbox-label-alpha: .75;
}

.checkbox__input {
  @apply --visually-hidden;

  &:focus-visible + * {
    @apply --outline;
  }

  &:checked + * {
    --checkbox-mark-inner-circle-translate-x: 10px;
    --checkbox-mark-inner-circle-background: var(--primary-gradient);
    --checkbox-mark-icon-opacity: 1;
    --checkbox-mark-border-color: var(--primary-color);
  }
}

.checkbox__mark {
  grid-row: span var(--checkbox-grid-rows);
  display: grid;
  place-items: center;
  width: var(--checkbox-mark-width);
  height: 20px;
  border: 1px solid var(--checkbox-mark-border-color);
  border-radius: var(--checkbox-mark-border-radius);
  cursor: pointer;
  transition: border-color .1s ease-in-out;
}

.checkbox__check-icon {
  opacity: var(--checkbox-mark-icon-opacity);
  transition: opacity .1s ease-in-out;
}

.checkbox__inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--checkbox-mark-inner-circle-background);
  transform: translateX(var(--checkbox-mark-inner-circle-translate-x));
  transition: transform .1s ease-in-out;
}

.checkbox__label {
  font: var(--checkbox-label-font);
  color: rgba(var(--dark-rgb), var(--checkbox-label-alpha));

  &::selection {
    background-color: rgba(var(--dark-rgb), .1);
  }
}

.checkbox__description {
  font: 12px/14px var(--font-regular);
  color: rgba(var(--dark-rgb), .5);

  &::selection {
    background-color: rgba(var(--dark-rgb), .1);
  }
}
